.authorization__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}
.authtorization-form {
  display: flex;
  flex-direction: column;

  padding: 2.5rem 2rem;

  gap: 20px;
}
.form{
  background-color: var(--elem-outer-color);
  border-radius: 40px 40px 0px 0px;
}