.register-form__input{
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 30px;
}

.register-form__button{
    padding: 16px 22px;
    font-size: 18px;
    margin-top:28px;
    border-radius: 30px;
    background-color: var(--button-color);
}