.authorization{
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.authorization__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}
.authtorization-form {
  display: flex;
  flex-direction: column;

  padding: 2.5rem 2rem;

  gap: 20px;
}
.login-form__forget{
	display: flex;
	width: 100%;
	justify-content: end;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 15px;
}
.form{
  background-color: var(--elem-outer-color);
  border-radius: 40px 40px 0px 0px;
}
.form-group{
  position: relative;
  --x:25px;
  --y:12px;
}
.route{
  font-size: 1.3rem;
  color:#ffff;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
 
  margin-top:36px;
}
.route__ref{
  color:#222122;
}


@media(max-width:576px) 
{
  .container{
    max-width: none !important;
    width: 100%;
  }
}
@media(max-width:768px) 
{
  .container{
    max-width: 720px;

  }
}