.content{
    flex:1 1 auto;

}

.content__inner{
    display:flex;
    width: 100%;
    padding:0 3rem;
    padding-top:18px;
}
.type-auth{
    color:#ffff;
    font-size:3rem;
    font-weight: 700;
}