:root {
  --main-color: #e839ad;
  --main-color-2: #302dd7;
  --elem-outer-color: #706eda;
  --rote-ref: #550862;
  --button-color: #9b99e5;
  --button-hover: #8683c9;
  --task-color: #444444;
  --input-color: #b7b5b5;
  --input-error-color: #b80f0f;
  --page-loader-color: #2e2e2e;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: var(--page-loader-color);
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
