:root {
  --main-color: #E839AD;
  --main-color-2:#302DD7;
  --elem-outer-color:#706EDA;
  --rote-ref:#550862;
  --button-color: #9B99E5;
  --button-hover:#8683c9;
  --task-color:#444444;
  --input-color:#B7B5B5;
  
  

}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  /* background-color: var(--main-color); */
  
  
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
