:root{
  --main-color: #7c7c7c;
  --elem-outer-color: #a3a3a3;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%; 
}

.conteiner {
  width: 800px;
  height: 100vh;
  background-color: var(--main-color);
  margin: 0 auto;
}
